
.quitPeople{
  width: 1400px;
  margin: 0 auto;
    .showIdCard{
      top: -80px;
     }
    .heightWidth{
      width: 350px;
      height:280px;
      padding: 10px 0;
    }
    .page{
      text-align: right;
      padding-top: 20px;
    }
    .title{
        text-align: left;
        width: 100%;
        z-index: 99;
        .btn{
            border: none;
            position: absolute;
            left: 674px;
            top: 43px;
            z-index: 100;
        }
        .left{
            text-align: left;
            position: relative;
        .text1{
            padding-top: 10px;
            margin:10px 0 12px 0px;
            font-size: 17px;
        }
        .tip{
            padding-left: 20px;
            font-size: 14px;
            cursor: pointer;
        }
        }
        .right{
           padding-left: 20px;
         }
    }
}
.query{
    width: 240px;
}
.title{
  font-size: 20px;    
}
.quitPeople {
    .dialog {
        text-align: left;
        position: fixed; 
        top: -100px;
        left:0;
        .el-dialog__title{
          font-size: 26px;
        }
        .el-dialog__body{
          padding:10px 20px;
        }
        .el-form-item{
          margin:0;
        }
        .btn{
          position: absolute;
          right: 0;
          top: 15px;
          margin-right: 20px;
        }
        .num_set{
          font-size: 18px;
          padding: 5px 0;
        }
      .border {
        width: 140px;
        height: 35px;
        border: 1px solid#bbb;
        border-radius: 6px;
        padding-left: 10px;
      }
      .border3{
        width: 300px;
        height: 35px;
        border: 1px solid#bbb;
        border-radius: 6px;
        padding-left: 10px;
      }
        .border.img{
          border: none;
        }
      .el-form-item__content{
        text-align: left;
      }
      .border.img{
        width: 240px;
        border: none;
        .text{
          padding-right: 20px;
          font-size: 14px;
        }
      }
      .border.height{
          height: 60px;
          width: 80%;
      }
      .input1 {
        display: inline-block;
        padding-right: 10px;
        text-align: left;
        vertical-align: top;
      }
      .img-text{
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  
  .title {
    box-sizing: border-box;
  }
  .search-block {
    position: absolute;
    right: 0;
    top:8px;
    white-space: nowrap;
  }

  .mt-20 {
    margin-top: 20px;
  }