.companyType{
    .page {
        text-align: right;
        padding-top: 20px;
    }
    .search-block {
        position: absolute;
        right: 0;
        top:0;
        white-space: nowrap;
      }
      .margin-right{
        margin-right: 100px;
    }
    .table{
        margin:20px 20px 50px 0px;
        .title{
            position: relative;
            padding-bottom: 10px;
            text-align: left;
            .title-text{
                font-size: 17px;
            }
            .pos-btn{
                position:absolute;
                top: 0;
                right:0;
            }
        }
       .query{
           width: 240px;
       }

    }
}