.accountAdmin{
    width: 860px;
    margin: 0 auto;
    padding-top: 40px;
    .form{
        margin-top: 50px;
    }
    .dialog_input{
        width: 200px;
    }
    .accoutDialog{
        width: 550px;
       margin: 0 auto;
    }
    .tableIn-btn{
        position: relative;

        .btn{
            position: absolute;
            right: 0;
        }
    }
}