[class^="icon-"] {
    display: inline-block;
    width: 35px;
    height: 35px;
}

.is-active {
    .icon-project {
        background: url(../assets/images/project@2x.png)
    }
    .icon-distribution {
        background: url(../assets/images/Distribution_2@2x.png)
    }
    .icon-commission {
        background: url(../assets/images/project_2@2x.png)
    }
    .icon-distri_commission {
        background: url(../assets/images/Projectcommission_2@2x.png)
    }
    .icon-agent {
        background: url(../assets/images/broker_2@2x.png)
    }
}

.icon-project {
    background: url(../assets/images/project_2@2x.png)
}

.icon-distribution {
    background: url(../assets/images/Distribution@2x.png)
}

.icon-commission {
    background: url(../assets/images/project_2@2x.png)
}

.icon-distri_commission {
    background: url(../assets/images/Projectcommission@2x.png)
}

.icon-agent {
    background: url(../assets/images/broker@2x.png)
}