.maidInfo{
    margin: 0 auto;
    width: 1300px;
    .page {
        text-align: right;
        padding-top: 20px;
      }
.table{
    margin:20px 20px 50px 10px;
    .title-text{
        text-align: left;
        font-size: 17px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
.title{
    position: relative;
    padding-bottom: 20px;
    text-align: left;
    .pos-btn{
        position:absolute;
        top: 0;
        right: 0;
    }
}
}